@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/* Custom CSS for the dashboard */

body {
    font-family: 'Poppins', sans-serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: #1c2331; /* Dark background color */
    color: #fff;
    width: 250px;
    transition: left 0.3s; /* Hiệu ứng di chuyển */
}
main{
    margin-left: 250px;
}


.sidebar a {
    color: #fff;
}

/* Active link in the sidebar */
.sidebar a.active {
    background-color: #1f2533; /* Slightly different shade for active link */
    color: #fff;
}

/* Sidebar on small screens */
@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
        left: 0;
        width: 100%;
    }
    main{
        margin-left: 0;
        transition: left 3s; /* Hiệu ứng di chuyển chậm hơn trong 3 giây */
        transition: left 0.3s;
    }
    .menu-button {
        display: block; /* Hiển thị nút menu trên màn hình nhỏ */
    }
    
}
