<template>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link to="/">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/create">Create Post</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/posts">Posts</router-link>
                </li>
            </ul>
        </nav><br />
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "App",
};
</script>
